<div class="container-fluid mb-5 pt-1 pb-5" style="background-color: green;">
    <div class="text-center mt-5"> 
        <h1 class="font-weight-bold services-head">Why Choose PDFTOWORD?</h1>
    </div>
    <div class="row" >
        <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon"> <i class="fas fa-edit"></i> </div>
                    <h4 class="services-h4"> Manage document</h4>
                    <p class="services-p">Manage and share your documents with the world! Use compression tool to reduce document size & simplify the supply of electricity. PDFTOWORD.CYCLIC.APP also allows you to merge, split, rotate or watermark PDF.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services speedup">
                    <div class="icon"> <i class="fa-duotone fa-file-contract"></i>  </div>
                    <h4 class="services-h4">100% Secure Tools</h4>
                    <p class="services-p">Our PDF tools are designed with security in mind, and we take every step to ensure your documents are safe. In most cases, PDF files are not uploaded to our servers.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services privacy">
                    <div class="icon"> <i class="fa-solid fa-universal-access"></i> </div>
                    <h4 class="services-h4">Access from anywhere</h4>
                    <p class="services-p">PDFTOWORD.CYCLIC.APP is completely online, no need to download any software. Access and edit PDF files from any modern browser: Chrome, IE, Firefox, Opera or Safari, making it an easy choice for sharing and distribution.</p>
                </div>
            </div>
        </div>
    </div>
       
        <div class="col-md-4">
            <div class="box">
                <div class="our-services database">
                    <div class="icon">  </div>
                    <h4 class="services-h4">Seamless control</h4>
                    <p class="services-p">Increase productivity with a single operating system and PDF sharing. Get everything you need to connect, save and view PDF files.</p>
                </div>
            </div>
        </div>
    </div>
</div>
