
<div style="display: flex; justify-content: center; align-items: center;backround-color:green !important;">

    <div class="card pt-5 pb-5" style="width: 90%; background-color: #F2F6FF;">
      <div class="row g-0">
        <div class="col-md-5">
          <img src="/images/pdfverce.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h2 class="card-title font-weight-bold"> How to Download Youtube to MP4/MP3 with PDFTOWORD.CYCLIC.APP?</h2>
            <p class="card-text">
                To download youtube to MP3/MP4, follow these steps:              
</p>
              <ul class="list-unstyled">
                <li class="ml-4 mb-3">1. Copy the URL of the video you want to download in MP4 or MP3 format into Youtube.</li>
                <li class="ml-4 mb-3">2. The tool will retrieve information about the video if you enter the URL for the video into the Search box.</li>
                <li class="ml-4 mb-3">3. Click the "Convert" button after choosing the desired video quality.</li>
                <li class="ml-4 mb-3">4. Click the "Download" button when the conversion is finished.</li>
                <li class="ml-4 mb-3">5. You can play the video whenever and wherever you want once it has been downloaded.</li>
              </ul>
              
          </div>
        </div>
      </div>
    </div>
  </div>
