<%- include('views/includes/nav.ejs') %>

<a href="https://convertpdftoword.xyz/getResponse#comprehensive-email-marketing-and-content-monetization-platform" style="padding:10px 10px ! important; text-decoration:underline ! important;color:white;"> GetResponse: A Comprehensive Email Marketing and Content Monetization Platform </a>


<%- include('views/includes/footer.ejs') %>
