<%- include('views/includes/nav.ejs') %>

<a href="https://convertpdftoword.xyz/getResponse"> GetResponse: A Comprehensive Email Marketing and Automation Platform </a>


<%- include('views/includes/footer.ejs') %>
