<%- include('views/includes/nav.ejs') %>

<a href="https://convertpdftoword.xyz/getResponse" style="padding:10px 10px ! important; text-decoration:underline ! important;"> GetResponse: A Comprehensive Email Marketing and Automation Platform </a>


<%- include('views/includes/footer.ejs') %>
