
input[type="file"] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
  }
  .custom-file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 260px;
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
  }

  
  .custom-file-upload img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 62px;
    margin-right: 10px;
    
  }
  .custom-file-upload label{
    margin-top: 10px;
  }
  .button-2 {
    background-color: #8C5EE9;
    border-color: #8C5EE9;
    color: #fff;
    transition: 0.2s;
  }
  
  .button-2:hover {
    background-color: #8C5EE9;
    border-color: #8C5EE9;
    color: #fff;
  }
  .button-2 {
    background-color: #6340A3;
    border-color: #6340A3;
    color: #fff;
  }
  .button-2:not(:disabled):not(:disabled):active {
    background-color: #6340A3;
    border-color: #6340A3;
    color: #fff;
 } 
  .custom-file-upload-color-1{
    background-color:  #FD6766;
  }
  .custom-file-upload-color-2{
    background-color:  #8C5EE9 ;
  }
  .custom-file-upload-color-3{
    background-color:  #f550b3 ;
  }

  .button-3 {
    background-color: #f550b3;
    border-color: #f550b3;
    color: #fff;
  }
  .button-3:hover {
    background-color: #f550b3;
    border-color: #f550b3;
    color: #fff;
  }
  .button-3:not(:disabled):not(:disabled):active {
    background-color: #f550b3;
    border-color: #f550b3;
    color: #fff;
 } 
  .custom-file-upload label[for="pdfs"]::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 1px dashed #aaaaaa;
    cursor: pointer;
  }
  .custom-file-upload label[for="pdf-input"]::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 1px dashed #aaaaaa;
    cursor: pointer;
  }
  
  .fallback{
    margin: 0 auto;
  }
  .range-box{
    padding: 8px 20px;
    border: 1px solid lightgrey;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s;
  }
  .range-box:focus {
    border-color: #8C5EE9;
    box-shadow: 2px solid #8C5EE9;
  }

.footer a:hover{
color: #EE0BFF ! important:
}

      
.custom_container{width:1140px;margin:0 auto}.mt-10{padding-top:20px}.mt-20{margin-top:5%}.pt-5{padding:10px 15px 0}a{color:#777}a:hover{color:#ff0068;text-decoration:none}th,td{padding:10px;text-align:center;border:1px solid #ddd}table{width:100%}h2{letter-spacing:3px}#videoTitle{margin-top:20px;margin-bottom:20px}table tr td button{border:none;padding:4px 12px;background-color:#ff0068;color:#fff;border-radius:5px}.ythumbnail img{height:210px;width:368px}.nav-item .nav-link{color:#000!important}.navbar-brand{font-size:28px;line-height:20px;color:#000;font-weight:600!important;padding:10px 15px}.navbar-brand img{height:42px}.navbar-nav{padding-top:5px;color:#000}.navbar-nav li a{color:#777}.active-nav{background:#eaeaea}.navbar-default .navbar-nav>li>a:hover{color:#ff0068}.active-nav:hover{background:#eaeaea!important}.navbar-brand span:hover{color:#ff0068}.video_container_section{border:1px solid silver;background-color:#fff;padding-top:5%;padding-bottom:2%;height:auto;border-radius:0;padding-right:10px;padding-left:10px}.video_container_section h3{letter-spacing:3px}form{width:85%;margin:0 auto}input[type=text]{width:70%;padding:10px;border:5px solid #5cb85c}.process_btn{border:5px solid #5cb85c;padding:10px;margin-left:-5px;background:#5cb85c;color:#fff;letter-spacing:1px}.ythumbnail img{width:100%;height:auto}.svg-loader{display:none}#listFormats{display:none}.text-section h3{font-weight:700}.text-section p{font-size:16px}footer{padding-top:20px;padding-bottom:20px;border-top:1px solid silver;margin-top:30px}footer ul{margin:unset}footer ul li{display:inline;list-style-type:none;color:#000;padding-right:10px;padding-left:10px}.accordion{background-color:#eee;color:#444;cursor:pointer;padding:15px;width:100%;border:none;text-align:left;outline:none;font-size:15px;transition:.4s}.panel p{margin:7px 0 8px}.panel{padding:0 18px;background-color:#fff;max-height:0;overflow:hidden;transition:max-height .2s ease-out}.social-icon ul li{list-style-type:none;display:inline-flex}.social-icon ul li a img{width:40px;height:40px;margin-right:20px}.btn{background-color:#ff0068;border:none;color:#fff;cursor:pointer;font-size:14px}.btn{padding:8px 16px;border-radius:0}.tableVideo{font-family:trebuchet ms,Arial,Helvetica,sans-serif;border-collapse:collapse;width:100%}.tableVideo td,.tableVideo th{border:1px solid #ddd;padding:10px 5px}.tableVideo tr:nth-child(even){}.tableVideo tr:hover{}.tableVideo th{padding-top:12px;padding-bottom:12px;text-align:center;font-size:16px}#trAudio td{padding-top:12px;padding-bottom:12px;text-align:left;background-color:#5cb85c;color:#fff}#txtUrl{width:75%;box-sizing:border-box;border:2px solid #ccc;border-radius:0;background-color:#fff;background-position:10px 10px;background-repeat:no-repeat;padding:8.5px 40px 8.5px 10px}#txtUrl,#btnSubmit{display:inline-block;-webkit-appearance:none;font-size:16px}#btnSubmit{padding:10px;background-color:#ff0068;border:none;color:#fff;cursor:pointer}#btnSubmit::-moz-focus-inner{border:0}.start-btn{font-family:trebuchet ms,Arial,Helvetica,sans-serif;font-weight:700}.btn.focus,.btn:focus,.btn:hover{color:#fff;background-color:#c10841}#btnSubmit:hover{background-color:#c10841;color:#fff}.thumnail-img{max-width:100%;width:700px;height:100%}#result{display:flex;justify-content:space-around;padding-top:20px}.btn a{color:inherit}.tab{overflow:hidden;background-color:#f1f1f1;display:none}.tab button{background-color:inherit;float:left;border:5px solid #ddd;outline:none;cursor:pointer;padding:10px 0;transition:.5s;font-size:18px;width:50%;font-weight:700}.tab button:hover{background-color:#ccc}.tab button.active{background-color:#ccc}.tabcontent{display:none}@media only screen and (max-width:1200px){.custom_container{width:90%;margin:0 auto}.video_container_section{margin-top:10%}}@media only screen and (max-width:767px){.navbar-nav .open .dropdown-menu{margin:5px 0;background-color:#fff;border:1px solid #ccc;box-shadow:0 6px 12px rgba(0,0,0,.175)}#dropdown{padding:10px 20px}.dropdown,.dropup{margin:5px 20px}}@media only screen and (max-width:450px){.intro-h1{font-size:26px;color:#777;font-family:trebuchet ms,Arial,Helvetica,sans-serif;letter-spacing:1px}.intro-h2{font-size:26px;margin:10px 0;color:#777;font-family:trebuchet ms,Arial,Helvetica,sans-serif;letter-spacing:1px}}@media only screen and (max-width:600px){.custom_container{width:90%;margin:0 auto}.navbar-brand img{height:36px}.mt-20{margin-top:20%}input[type=text]{width:auto}form{width:100%}#txtUrl{width:70%;padding:8.5px 40px 8.5px 5px;background-position:10px 7px}#txtUrl,#btnSubmit{display:inline-block;-webkit-appearance:none;font-size:14px}#btnSubmit{padding:10px}}.svg-loader{margin:-10px 0 -30px}.nav-tabs{border-bottom:unset;font-size:16px}#error{margin:0 auto;width:100%}.alert{margin-bottom:unset;border:1px solid transparent;border-radius:0}#imgAnalyzer{padding-top:36px}.fa.fa-arrow-right{margin:0 0 0 5px}.brand-text:hover{color:#c10841!important}.brand-text{color:#ff0068;font-weight:700}.nav-tabs>li{margin-bottom:5px}.text-section h3{font-size:18px}.li-items{font-size:14px!important;margin:unset;line-height:30px}.navbar-fixed-bottom,.navbar-fixed-top{position:absolute!important}@media(max-width:1025px){.extension{display:none;animation:extAppear 1s ease-in-out}}.w-100{width:100%;background-color:#ccc;padding:10px;font-size:16px;margin:20px 0 0;cursor:pointer}.w-100:hover{background-color:#a6a6a6}.conv-more{color:#333}
